1.	Write a Python program to sum all the elements in a list.
2.	Write a Python program to find the largest element in a list.
3.	Write a Python program to count the number of elements in a list.
4.	Write a Python program to find the average of elements in a list.
5.	Write a Python program to reverse a list.
6.	Write a Python program to check if a given element exists in a list.
7.	Write a Python program to remove duplicate elements from a list.
8.	Write a Python program to find the second largest element in a list.
9.	Write a Python program to sort elements in a list in ascending order.
10.	Write a Python program to merge two lists and sort them.
11.	Question: Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.
12.	Question: Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.
13.	Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?
14.	Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?

1.Write a Python program to sum all the elements in a list.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.Write a Python program to find the largest element in a list.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(max(list1))

10

3.Write a Python program to count the number of elements in a list.

In [ ]:
print(len(list1))

10

4.Write a Python program to find the average of elements in a list.

In [ ]:
average4= sum(list1)/len(list1)
print(average4)

5.5

5.Write a Python program to reverse a list.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(sorted(list1, reverse=True))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6.Write a Python program to check if a given element exists in a list.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
givenelement= 4
if givenelement in list1:
  print(True)
else:
  print(False)

True

7.Write a Python program to remove duplicate elements from a list.

In [ ]:
list7=[1,2,3,4,1,1,1,2,2,3,4,5,5,6,]

In [ ]:
#REMOVE ALL DUPLICATE ELEMENTS
list8= set(list7)
print(list8)

{1, 2, 3, 4, 5, 6}

8.Write a Python program to find the second largest element in a list.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
list8= sorted(list1)
print(list8[-2])

9

9.Write a Python program to sort elements in a list in ascending order.

In [ ]:
list9=[4,3,8,11,10,24,53,66,100]
print(sorted(list9))

[3, 4, 8, 10, 11, 24, 53, 66, 100]

10.Write a Python program to merge two lists and sort them.

In [ ]:
list10_1= [1,2,3]
list10_2= [6,5,4]
list10_3= list10_1+list10_2
print(sorted(list10_3))

[1, 2, 3, 4, 5, 6]

11.Question: Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.

In [ ]:
nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list_row[-1][-1])

9

12.Question: Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.

In [ ]:
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list_column[-1][-2])

8

13.Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?

In [ ]:
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9],[1,55,77,100]]
print(nested_list_column[-1][-1])

100

14.Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?

In [ ]:
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9],[1,55,77,100]]
print(nested_list_column[-1][-1])

100