In [ ]:
my_list= set()
my_set= {1,2,3}

In [ ]:
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

Union ()


*   Union() method return the union of two sets
*   Also denoted by the operator |

In [ ]:
A= {1,2,3,4,5}
B= {4,5,6,7,8}
print(A.union(B))
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

Intersection()

*   Returns intersection of two sets
*   denoted by operator &

In [ ]:
print(A.intersection(B))
A&B

{4, 5}

{4, 5}

Difference()


*   Returns difference between two sets [A-B]
*   also denoted by operator -
*   Difference of set B from set A, i.e. (A-B) is a set of elements that are only in A.

In [ ]:
print(A.difference(B))
A-B

{1, 2, 3}

{1, 2, 3}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
B-A

{6, 7, 8}

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
A^B

{1, 2, 3, 6, 7, 8}