1. Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.
2. Take input from the user and find the factorial of the number using a for loop.
3. Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its
 index using a for loop.
4. Take a string input from the user and count the number of uppercase letters using a
 for loop.(use char.isupper() )
5. Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even
 numbers using a for loop.
6. Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.
7. Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the
 number 7 using a for loop.**bold text**

In [ ]:
#1 Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

a= [4, 8, 2, 10, 6]
for i in a:
  if i==max(a):
    print(i)

10

In [ ]:
#2 Take input from the user and find the factorial of the number using a for loop.


n= int(input("Enter a number: "))
f=1
for i in range(1,n+1):
  f=f*i
  i=i+1
print('The factorial is: ',f)

Enter a number: 3
The factorial is:  6

In [ ]:
#3 Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.


fruits=['apple', 'banana', 'cherry', 'date', 'fig']
for index,i in enumerate(fruits):
  print(index,'-',i)

0 - apple
1 - banana
2 - cherry
3 - date
4 - fig

In [29]:
#4 Take a string input from the user and count the number of uppercase letters using a for loop.(use char.isupper() )
#doubt

c= str(input("Enter a string: "))
for i in c:
  i=sum(c.isupper())
print(i)

Enter a string: ABCdefg

TypeError: 'bool' object is not iterable

In [36]:
#5 Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.

d= [17, 25, 39, 42, 58, 71, 86, 93]
sum=0
for i in d:
  if i%2==0:
    sum=sum+i
print(sum)

186

In [37]:
#6 Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

e= [3, 6, 9, 12, 15]
product=1
for i in e:
  product=product*i
print(product)

29160

In [39]:
#7 Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.bold text

f= [2, 3, 5, 7, 11, 13, 17, 19]
for index,i in enumerate(f):
  if i==7:
    print('Index of',i,'is',index)

Index of 7 is 3